div.container {
    width: 100%;
    border: 1px solid gray;
}
.header-text{
    color: #285A36;
}

.article-link1{
    color: #A01E1E;
    
}

.bekgraund{
    background: green;
}

body{
    background: green;
    margin: 0px;
}

.slika5{
    height: 50px;
    width: 50px;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

.blue{
    color: blue;
}

.red{
    color: red;
}

.green{
    color: green;
}

.yellow{
    color: yellow;
}